$sm: 'min-width: 576px';
$sm-reverse: 'max-width: 575.98px';

$md: 'min-width: 768px';
$md-reverse: 'max-width: 767.98px';

$lg: 'min-width: 992px';
$lg-reverse: 'max-width: 991px';

$xl: 'min-width: 1200px';
$xl-reverse: 'max-width: 1199px';