.button {
    font-size: 12px;
    padding: .25rem .75rem;
    border-radius: 10px;
    border: none;
    width: fit-content;

    &.button-primary {
        background: $primary;
        color: $white;
        font-weight: bold;

        &:hover {
            background: $secondary;
        }
    }

    &.button-secondary {
        background: $gray;
        color: $white;

        &:hover {
            background: $darkGray;
        }
    }

    &.big {
        border-radius: 6px;
        padding: .75rem 3rem;
        border-radius: 20px;
    }
}