.navbar {
    background-image: url("../../../images/header.png");
    height: 208px;
    margin-bottom: 4rem;

    li a {
        color: $white;
        font-size: 1.125rem;
    }
    li a:hover{
        color: $white;
    }

    .nav-link {
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }

    .nav-link.active {
        color: $white;
        border-bottom-color: $secondary

    }
}